/*clases*/

body {
    width: 800px;
    height: 1100px;
    font-family: 'Roboto', sans-serif;
}


.contenedor{
    display: flex;
    align-items: flex-start;
} 


header, main, footer {
    border: 3px solid black;
    background-color: burlywood;
} /* fondo y marco del curriculum*/

#foto{
    width: 210px;
    height: 210px;
    margin-left: 220px;
    margin-top: 100px;
} /*foto modificada para el header*/

nav {
    background-color: rgb(133, 162, 185);
    border: 3px black solid;
} /*parte del navegador donde se encuentran los anclajes*/

#buscador {
    display: flex;
    padding-left: 20px;
}  /*para que los elementos en el nav queden escritos de forma horizontal*/

.espacios {
    padding-left: 10px;
} /*usado para separar ciertos sectores de la pared izquierda del curriculum*/

.espaciosocultos {
    padding-left: 10px;
    display: none; /*utilizada para ocultar el texto del footer*/
}

.espaciosnav {
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    border-left: 3px solid black;
} /*se utiliza para la colocacion de las barras laterales para cada uno de los
 anclajes en el enlace*/

.moverenlace {
    padding-right: 20px;
} /*para la ubicacion de la palabra enlace en el nav*/

.acordeon {
    text-align: left;
    outline: none;
    background-color: burlywood; 
    color: black;
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 16px;
}/*para la creacion del boton*/

.active, .acordeon:hover{
    background-color: yellow; 
} /*resalta el color del button al estar activado y al poner el cursor en el*/